<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <div class="container-fluid" style="text-align:center;">
      <div class="row">
        <div class="col-sm-1">
          <ion-button (click)="redirigir('inicio')" class="form-control" color="primary" style="display: inline-block;margin: 5px;">Inicio</ion-button>
        </div>
        <div class="col-sm-2">
          <ion-button (click)="redirigir('empleados')" class="form-control" color="primary" style="display: inline-block;margin: 5px;">Empleados</ion-button>
        </div>
        <div class="col-sm-2">
          <ion-button class="form-control" (click)="redirigir('mesas')"color="primary">Mesas</ion-button>
        </div>
        <div class="col-sm-2">
          <ion-button class="form-control" (click)="redirigir('pizzas')" color="primary">Pizzas</ion-button>
        </div>
        <div class="col-sm-2">
          <ion-button class="form-control" (click)="redirigir('geolocalizacion')" color="primary">Geolocalizacion</ion-button>
        </div>
        <div class="col-sm-2">
          <ion-button class="form-control" color="primary">Ordenes</ion-button>
        </div>
        <div class="col-sm-1">
          <ion-button class="form-control" (click)="Logout()" color="primary">Salir</ion-button>
        </div>
      </div>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">mesas</ion-title>
    </ion-toolbar>
  </ion-header>
  <div class="container-fluid" style="margin-top: 20px;">
    <div class="row">
      <div class="col-sm-6">
        <ion-accordion-group>
          <ion-accordion value="Nuevo">
            <ion-item slot="header" color="primary">
              <ion-label>Nueva Mesa</ion-label>
            </ion-item>
            <div class="ion-padding" slot="content">
              <form [formGroup]="formularioNewTable">
              <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-10" style="margin-top: 10px;">
                      <ion-list>
                        <ion-item >
                          <ion-select [(ngModel)]="selectedValue" (ionChange)="updateButtonStatus()" formControlName="empleado"  label="Seleccionar"
                          [interfaceOptions]="customActionSheetOptions"
                          interface="action-sheet"
                          placeholder="Select One">
                            <ion-select-option  *ngFor="let item of users" value="{{item.id}}">{{ item.userName }}</ion-select-option>
                          </ion-select>
                        </ion-item>
                      </ion-list>
                    </div>
                    <div class="col-sm-2" style="margin-top: 10px;">
                      <ion-button  [disabled]="isButtonDisabled" (click)="generateCode()">Generar</ion-button>
                    </div>

                    <div id="QRContainer" class="container-fluid" style="text-align: center;">
                      <qr-code value="{{qrCode}}" size="500" errorCorrectionLevel="M"></qr-code>
                    </div>
                  <div class="col-sm-12" style="margin-top: 10px;">
                    <ion-button expand="block" (click)="saveTable()" >Cargar</ion-button>
                  </div>

                </div>
              </div>
            </form>
            </div>
          </ion-accordion>
        </ion-accordion-group>
      </div>
      <div class="col-sm-6">
        <table class="table" style="text-align: center;">
          <thead class="bg-primary">
            <tr>
              <th>Numero</th>
              <th>Codigo</th>
              <th>Empleado</th>
              <th>Estado</th>
              <th>Acciones</th>
            </tr>
          </thead>
          <tbody >

              <tr *ngFor="let item of tables">
                <td>{{ item.id }}</td>
                <td>{{ item.token }}</td>
                <td>{{ item.empleado.userName }}</td>
                <td>
                  <div  class="wrapper">
                    <div *ngIf="!item.estado" style="backgroundColor:red" class="ion-activatable ripple-parent circle">
                      {{ item.estado}}
                      <ion-ripple-effect type="unbounded"></ion-ripple-effect>
                    </div>
                    <div *ngIf="item.estado" style="backgroundColor:green" class="ion-activatable ripple-parent circle">
                      {{ item.estado}}
                      <ion-ripple-effect type="unbounded"></ion-ripple-effect>
                    </div>
                  </div>
                </td>
                <td><button (click)="setModalUpdateOpen('info',item)" class="btn btn-success" >Info</button><button (click)="setModalUpdateOpen('update',item)" class="btn btn-warning" >Modificar</button> <button class="btn btn-danger">Eliminar</button></td>

              </tr>

          </tbody>
        </table>
      </div>
    </div>
</div>
<ion-alert
[isOpen]="isAlertOpen"
header="Success"
subHeader="Important message"
message="Mesa creada!!"
value="alertButtons"
(didDismiss)="setOpenAlert(false)"
></ion-alert>

<ion-modal size="500" #modal [isOpen]="isModalUpdateOpen" backdropDismiss="false">
  <ng-template>
    <!--CABEZA DEL MODAL-->
    <ion-header>
      <ion-toolbar>
        <ion-title>Información</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="setModalUpdateClose()"><ion-icon name="close-outline"></ion-icon></ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <!--CUERPO DEL MODAL-->
    <ion-content *ngIf="crudOperation == 'info'" class="ion-padding">
      <div class="container-fluid" style="text-align: center;">

        <table class="table" style="text-align: center;">
          <thead class="bg-primary">
            <tr>
              <th>Numero</th>
              <th>Empleado</th>
              <th>Codigo</th>
            </tr>
          </thead>
          <tbody style="font-size: 28px;">
            <tr>
              <td>{{table?.id}}</td>
              <td>{{table?.empleado?.userName}}</td>
              <td>
                <div  class="wrapper">
                  <div *ngIf="!table.estado" style="backgroundColor:red" class="ion-activatable ripple-parent circle">
                    <ion-ripple-effect type="unbounded"></ion-ripple-effect>
                  </div>
                  <div *ngIf="table.estado" style="backgroundColor:green" class="ion-activatable ripple-parent circle">
                    <ion-ripple-effect type="unbounded"></ion-ripple-effect>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
        <div class="row">
          <div class="col-sm-12">
            <div id="QRContainer" class="container-fluid" style="text-align: center;">
              <qr-code value="{{table.token}}" size="390" errorCorrectionLevel="M"></qr-code>
            </div>
          </div>
          <div class="col-sm-12">
            <input type="button" (click)="printQRCode()"value="Imprimir" class="btn btn-success form-control">
          </div>
        </div>
      </div>
    </ion-content>
    <ion-content *ngIf="crudOperation == 'update'" class="ion-padding" >
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-9">
            <ion-list>
              <ion-item >
                <ion-select   label="Seleccionar nuevo empleado"
                [interfaceOptions]="customActionSheetOptions"
                interface="action-sheet"
                placeholder="Select One">
                  <ion-select-option  *ngFor="let item of users" value="{{item.id}}">{{ item.userName }}</ion-select-option>
                </ion-select>
              </ion-item>
            </ion-list>
          </div>
          <div class="col-sm-2">
            <ion-button (click)="generateCode()">Generar</ion-button>
          </div>
          <div class="col-sm-12">
            <div id="QRContainer" class="container-fluid" style="text-align: center;">
              <qr-code value="{{qrCode}}" size="390" errorCorrectionLevel="M"></qr-code>
            </div>
          </div>
          <div class="col-sm-12">
            <button class="btn btn-warning form-control">Modificar</button>
          </div>
        </div>
      </div>
    </ion-content>
  </ng-template>
</ion-modal>
</ion-content>
