<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <div class="container-fluid" style="text-align:center;">
      <div class="row">
        <div class="col-sm-1">
          <ion-button (click)="redirigir('inicio')" class="form-control" color="primary" style="display: inline-block;margin: 5px;">Inicio</ion-button>
        </div>
        <div class="col-sm-2">
          <ion-button (click)="redirigir('empleados')" class="form-control" color="primary" style="display: inline-block;margin: 5px;">Empleados</ion-button>
        </div>
        <div class="col-sm-2">
          <ion-button class="form-control" (click)="redirigir('mesas')"color="primary">Messas</ion-button>
        </div>
        <div class="col-sm-2">
          <ion-button class="form-control" (click)="redirigir('pizzas')" color="primary">Pizzas</ion-button>
        </div>
        <div class="col-sm-2">
          <ion-button class="form-control" (click)="redirigir('geolocalizacion')" color="primary">Geolocalizacion</ion-button>
        </div>
        <div class="col-sm-2">
          <ion-button class="form-control" color="primary">Ordenes</ion-button>
        </div>
        <div class="col-sm-1">
          <ion-button class="form-control" color="primary">Salir</ion-button>
        </div>
      </div>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">pizzas</ion-title>
    </ion-toolbar>
  </ion-header>
  <div class="container-fluid" style="margin-top: 20px;">
    <ion-accordion-group>
      <ion-accordion value="Nuevo">
        <ion-item slot="header" color="primary">
          <ion-label>Nueva pizza</ion-label>
        </ion-item>
        <div class="ion-padding" slot="content">
          <form [formGroup]="formularioNewPizza">
          <div class="container-fluid">
            <div class="row">

                <div class="col-sm-4" style="margin-top: 10px;">
                  <ion-input formControlName="nombre" label="Nombre" label-placement="floating" fill="solid" placeholder="Enter text" required></ion-input>
                </div>
                <div class="col-sm-4" style="margin-top: 10px;">
                  <ion-input type="number" label="Precio" formControlName="precio"label-placement="floating" fill="solid" placeholder="Enter text" required></ion-input>
                </div>
                  <div class="col-sm-4" style="margin-top: 10px;">
                    <ion-list>
                      <ion-item>
                        <ion-select  formControlName="categoria" aria-label="rols" interface="popover" placeholder="Seleccionar categoria">
                          <ion-select-option value="1">PIZZERIA 🍕</ion-select-option>
                          <ion-select-option value="2">CAFETERIA ☕</ion-select-option>
                        </ion-select>
                      </ion-item>
                    </ion-list>
                  </div>

                  <div class="col-sm-12" style="margin-top: 10px;">
                    <textarea formControlName="descripcion" style="width: 100%; height:200px;" placeholder="Ingrese una descripcion "></textarea>
                  </div>

              <div class="col-sm-12" style="margin-top: 10px;">
                <ion-button expand="block" (click)="savePizza()">Cargar</ion-button>
              </div>

            </div>
          </div>
        </form>
        </div>
      </ion-accordion>
    </ion-accordion-group>
  </div>
  <div class="col-sm-12">
    <table class="table" style="text-align: center;">
      <thead class="bg-primary">
        <tr>
          <th>Nombre</th>
          <th>Precio</th>
          <th>Fecha</th>
          <th>Categoria</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody >

          <tr *ngFor="let item of pizzas">
            <td>{{ item.nombre }}</td>
            <td> ${{ item.precio}}</td>
            <td>{{item.dateCreated}}</td>
            <td>{{ item.categoria.categoria }}</td>

            <td><button  class="btn btn-success" >Info</button><button class="btn btn-warning" >Modificar</button> <button class="btn btn-danger">Eliminar</button></td>

          </tr>

      </tbody>
    </table>
  </div>
  <br>
  <div class="container-fluid" style="margin-top: 20px;">
    <ion-accordion-group>
      <ion-accordion value="Nuevo">
        <ion-item slot="header" color="primary">
          <ion-label>Nueva bebida</ion-label>
        </ion-item>
        <div class="ion-padding" slot="content">
          <form [formGroup]="formularioNewPizza">
          <div class="container-fluid">
            <div class="row">

                <div class="col-sm-4" style="margin-top: 10px;">
                  <ion-input formControlName="nombre" label="Nombre" label-placement="floating" fill="solid" placeholder="Enter text" required></ion-input>
                </div>
                <div class="col-sm-4" style="margin-top: 10px;">
                  <ion-input type="number" label="Precio" formControlName="precio"label-placement="floating" fill="solid" placeholder="Enter text" required></ion-input>
                </div>
                  <div class="col-sm-4" style="margin-top: 10px;">
                    <ion-list>
                      <ion-item>
                        <ion-select  formControlName="categoria" aria-label="rols" interface="popover" placeholder="Seleccionar marca">
                          <ion-select-option value="1">PIZZERIA 🍕</ion-select-option>
                          <ion-select-option value="2">CAFETERIA ☕</ion-select-option>
                        </ion-select>
                      </ion-item>
                    </ion-list>
                  </div>
                  <div class="col-sm-12" style="margin-top: 10px;">
                    <textarea formControlName="descripcion" style="width: 100%; height:200px;" placeholder="Ingrese una descripcion "></textarea>
                  </div>

              <div class="col-sm-12" style="margin-top: 10px;">
                <ion-button expand="block" (click)="savePizza()">Cargar</ion-button>
              </div>

            </div>
          </div>
        </form>
        </div>
      </ion-accordion>
    </ion-accordion-group>
  </div>
  <div class="col-sm-12">
    <table class="table" style="text-align: center;">
      <thead class="bg-primary">
        <tr>
          <th>Nombre</th>
          <th>Precio</th>
          <th>Fecha</th>
          <th>Marca</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody >

          <tr *ngFor="let item of bebidas">
            <td>{{ item.nombre }}</td>
            <td> ${{ item.precio}}</td>
            <td>{{item.dateCreated}}</td>
            <td>{{ item.marca.nombre }}</td>

            <td><button  class="btn btn-success" >Info</button><button class="btn btn-warning" >Modificar</button> <button class="btn btn-danger">Eliminar</button></td>

          </tr>

      </tbody>
    </table>
  </div>



</ion-content>


