<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">inicio</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card>
          <img alt="Silhouette of mountains" src="https://img.freepik.com/vector-premium/restaurante-meseros-avatar_18591-37133.jpg" />
          <ion-card-header>
            <ion-card-title>Empleados</ion-card-title>
            <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
          </ion-card-header>

          <ion-card-content>
            Here's a small text description for the card content. Nothing more, nothing less.
          </ion-card-content>
          <ion-button (click)="redirigir('empleados')" color="primary">ir</ion-button>
        </ion-card>

      </ion-col>
      <ion-col>
        <ion-card>
          <img alt="Silhouette of mountains" src="https://us.123rf.com/450wm/studioworkstock/studioworkstock1809/studioworkstock180900358/110407831-signo-reservado-en-la-mesa-en-la-ilustraci%C3%B3n-de-vector-de-dibujos-animados-de-restaurante.jpg?ver=6" />
          <ion-card-header>
            <ion-card-title>Mesas</ion-card-title>
            <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
          </ion-card-header>

          <ion-card-content>
            Here's a small text description for the card content. Nothing more, nothing less.
          </ion-card-content>
          <ion-button color="primary">Ir</ion-button>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card>
          <img alt="Silhouette of mountains" src="https://img.freepik.com/vector-gratis/linda-rebanada-pizza-derretida-pulgares-arriba-ilustracion-icono-vector-dibujos-animados-icono-objeto-comida-aislado_138676-5546.jpg" />
          <ion-card-header>
            <ion-card-title>Pizzas</ion-card-title>
            <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
          </ion-card-header>

          <ion-card-content>
            Here's a small text description for the card content. Nothing more, nothing less.
          </ion-card-content>
          <ion-button color="primary">Ir</ion-button>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card>
          <img alt="Silhouette of mountains" src="https://img.freepik.com/vector-premium/dibujos-animados-kawaii-bebidas_76844-2965.jpg?w=2000" />
          <ion-card-header>
            <ion-card-title>Bebidas</ion-card-title>
            <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
          </ion-card-header>

          <ion-card-content>
            Here's a small text description for the card content. Nothing more, nothing less.
          </ion-card-content>
          <ion-button color="primary">Ir</ion-button>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card>
          <img alt="Silhouette of mountains" src="https://media.istockphoto.com/id/1173767781/es/vector/icono-de-la-chequera.jpg?s=612x612&w=0&k=20&c=QHyb4CH3V9Zva57SSz-V4UZxCGaEeC6mYKteyGNYlXM=" />
          <ion-card-header>
            <ion-card-title>Ordenes</ion-card-title>
            <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
          </ion-card-header>

          <ion-card-content>
            Here's a small text description for the card content. Nothing more, nothing less.
          </ion-card-content>
          <ion-button color="primary">Ir</ion-button>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
